.cabecalho{
    background-color: #2576A8;
    box-shadow: 0px 1px 5px;
    height: 50px;
    width: auto;
    display: flex;
    margin-bottom: 50px;
}

.cabecalho .menu{
    width: 40px;
    height: 40px;
    margin: 0px;
    display: inline-flex;
    margin: 20px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&display=swap');
*{
    font-family: 'Martian Mono', monospace !important;
}
.cor{
    background-color: #2576A8;
    border: none;
    height: fit-content;
}

.cabecalho .logo{
    width: 3000px;
    display: flex;
    justify-content: center;
}

.cabecalho .usuario{
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    margin: 15px;
}

.boxform{
    border: 1px solid #2576A8;
    background-color:#2576A8;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    border-radius: 7px;
    padding: 10px 80px 10px 80px;
}

.cadastro{
    font-family: 'Tahoma';
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-family: 'Tahoma';
    display: flex;
    justify-content:center;
    margin: 5px;
}

.botao{
    background-color:#2576A8;
    color: white;
    margin: 5px;
    border: 1px solid white;
}

.botao:hover{
    border: 1px solid #2576A8;
    background-color: #dfedf2;
    color: #2576A8;
    cursor: pointer;
    transition-duration: 0.5s;
}

.cadastroExcecao{
    font-size: small;
    display: flex;
    justify-content: center;
}

.rodape{
    background-color: #dfedf2;
    height: auto;
    width: 100%;
    margin-top: 5%;
    color: white;
    display: flex;
    font-family: 'Tahoma';
    font-weight: 400;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    border-top: 0.6px solid #7a7a7a;
}

.rodape .iconeFooter{
    height: auto;
    width: 15%;
    margin: 0.7%;
    display: flex;
    justify-content: left;
}

.rodape .copyright{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-family: 'Tahoma';
    font-size: small;
}

.rodape .listaInfo{
    height: auto;
    width: 25%;
    margin-right: 2%;
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.sobreBtn{
    border: none;
    color: black;
    font-family: 'Tahoma';
    font-size: medium;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}

.sobreBtn:hover{
    cursor: pointer;
    color: #dfedf2;
    background-color: #2576A8;
    transition-duration: 0.5s;
}

a:link { text-decoration: none; }

body{
    margin: 0%;
    background-color: #dfedf2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    width: 400px;
    height: 80px;
}

form  input{
    box-shadow: 1px 1px 1px;
}

#logo{
    width: 200px;
    height: 200px;
}

.titulo{
    height: 120px;
    width: auto;
    font-family: 'Tahoma';
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato{
    font-family: 'Tahoma';
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.corpo{
    height:fit-content;
    width: 800px;
    margin: auto;
    font-family: 'Tahoma';
    display: flex;
    flex-direction: column;
}

.boasvindas{
    display: flex;
    justify-content: center;
    font-family: 'Stencil';
    margin: 20px;
}

.novidades {
    width: 65%;
    margin: 0 auto 20px;
    text-align: center;
}

.novidades .slideImagens {
    position: relative;
    height: 433px;
}

.novidades .slideImagens img {
    width: 100%;
    height: 433px;
    position: absolute;
    left: 0;
    transition: opacity 1s;
    opacity: 0; 
}

.novidades .slideImagens img.shown {
    opacity: 1; 
}

.prev:before {
    cursor: pointer;
    position: absolute;
    top: 45%;
    font-size: 60px;
    left: 5px;
    content: "<";
    color: white;
}

.next:before {
    cursor: pointer;
    position: absolute;
    top: 45%;
    font-size: 60px;
    right: 5px;
    content: ">";
    color: white;
}

.containerLivros{
    width: 65%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerLivros .livros{
    height: 160px;
    width: 130px;
    margin: 2%;
    cursor: pointer;
}

.livros img{
    height: 150px;
    width: 120px;
}

.livros label{
    display: flex;
    justify-content: center;
}

.login{
    font-family: 'Tahoma';
    margin-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

embed{
    width: auto;
    height: 1000px;
}